################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Site
/.vs
/ConsoleApp2/.vs/ConsoleApp2/v16/Server/sqlite3
