@{
    ViewData["Title"] = "My_Gear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jsx-409180591 container-fluid sec">
    <div class="jsx-409180591 container">
        <h3 class="jsx-409180591 h5spacing">My Gear</h3>
        <br class="jsx-409180591">
        <p class="jsx-409180591">Here's a list of computer and electronics equipment used in my day to day work.</p>
        <div class="jsx-409180591 linksPanel">
            <div class="jsx-409180591 row">
                <div class="jsx-409180591 col-md-4">
                    <h5 class="jsx-409180591">Software</h5>
                    <ul class="jsx-409180591">
                        <li class="jsx-409180591">
                            <a href="https://www.adobe.com/de/products/premiere.html?red=a" class="plainLink" target="_blank">Video Editing (Premiere Pro CC)</a>
                        </li>
                        <li class="jsx-409180591"><a href="https://www.adobe.com/de/products/photoshop.html?red=a" class="plainLink" target="_blank">Photo Editing (Photoshop CC)</a></li>
                    </ul>
                </div>
                <div class="jsx-409180591 col-md-4">
                    <h5 class="jsx-409180591">Computer</h5>
                    <ul class="jsx-409180591">
                        <li class="jsx-409180591">
                            <a href="https://www.amazon.de/Lenovo-IdeaPad-Notebook-Pentium-schwarz/dp/B07HQXSBYJ/" class="plainLink" target="_blank">Laptop (Lenovo Ideapad 330)</a>
                        </li>
                        <li class="jsx-409180591">
                            <a href="https://www.amazon.de/Logitech-Kabellose-Programmwahl-produktive-Kontrolle/dp/B074KGS5C3/" class="plainLink" target="_blank">Keyboard (Logitech Craft)</a>
                        </li>
                        <li class="jsx-409180591"><a href="https://www.amazon.de/Blue-Microphones-Snowball-iCE-Microphone/dp/B014PYGTUQ/" class="plainLink" target="_blank">Desk Microphone (Blue Snowball ICE)</a>
                        </li>
                        <li class="jsx-409180591"><a href="https://www.amazon.de/Scherenarm-Mikrofon-Klipp-Halter-Tischmontage-Schwarz-Knall-Filter-Masken-Schild/dp/B01GRMF5ZE/" class="plainLink" target="_blank">Microphone Stand (Neewer NB-35)</a>
                        </li>
                    </ul>
                </div>
                <div class="jsx-409180591 col-md-4">
                    <h5 class="jsx-409180591">Electronics</h5>
                    <ul class="jsx-409180591">
                        <li class="jsx-409180591">
                            <a href="https://www.amazon.com/gp/product/B01NAVAT9S/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B01NAVAT9S&amp;linkCode=as2&amp;tag=devoncrawfo05-20&amp;linkId=ed86373bc27ac054e50b9df1fe6ca667" class="plainLink" target="_blank">Multimeter (Neoteck 8233D)</a>
                        </li>
                        <li class="jsx-409180591"><a href="https://www.amazon.com/gp/product/B0792W9QCY/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B0792W9QCY&amp;linkCode=as2&amp;tag=devoncrawfo05-20&amp;linkId=e6e5b13335e78bc605a21c1cca74a09b" class="plainLink" target="_blank">Bench Power Supply (DC 30V/10A)</a></li>
                        <li class="jsx-409180591"><a href="https://www.amazon.com/gp/product/B01EWOE0UU/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B01EWOE0UU&amp;linkCode=as2&amp;tag=devoncrawfo05-20&amp;linkId=e16faa4e2888d31faf46e8ab1a28701e" class="plainLink" target="_blank">Arduino Uno</a></li>
                        <li class="jsx-409180591"><a href="https://www.amazon.com/gp/product/B018XAELE4/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B018XAELE4&amp;linkCode=as2&amp;tag=devoncrawfo05-20&amp;linkId=c783f5a3661397036a078cff21644875" class="plainLink" target="_blank">LED Strip (Alitove 16.4ft 300 pixel programmable)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

